button{
    border: none;
    cursor: pointer;
}


#a{
    width: 200px;
    height: 200px;
    animation: a 1s infinite;
    border: 6px solid orange;
    border-radius: 50%;
    border-top: 6px solid yellow;
    background-color: transparent;
}
@keyframes a {
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(360deg)
    }
}
#b{
    width: 200px;
    height: 200px;
    animation: b 2s infinite alternate;
    background-color:blue;
    border-radius: 50%;
    transition: background 0.5s ease ;
}
#b:hover{
    background-color:red;

}
@keyframes b {
    from {
        transform:translateX(0px) translateY(0px);
    }
    to {
        transform:translateX(200px) translateY(200px);
    }
}
h1{
    animation: h1 0.5s infinite alternate;
    font-size: medium;
}
@keyframes h1 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
