button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#a{
    width: 200px;
    height: 200px;
    animation: a 1s infinite;
    border: 6px solid orange;
    border-radius: 50%;
    border-top: 6px solid yellow;
}
@keyframes a {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
h1{
    animation: h1 0.5s infinite alternate;
    font-size: medium;
}
@keyframes h1 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}